@import url("https://fonts.googleapis.com/css2?family=Namdhinggo:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ruluko&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Serif 4", serif;
  text-decoration: none;
}
body {
  position: relative;
  background-image: url("assets/pictures/grenades.jpg") !important;
  background-size: contain;
  font-family: "Ruluko", serif !important;
  color: #f5ecd4 !important;
}
/* couleur sur le background */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c1442577 !important;
  z-index: -1; 
}

ul{
  list-style: none !important;
}
li{
  list-style: none !important;
}
/* style bg */
.bg-bk,
.dropdown-menu {
  background-color: #c14525 !important;
}
.bg-orange {
  background-color: #c14525;
}
.bg-light-beige {
  background-color: #f5ecd4;
}
.bg-light-90-beige {
  background-color: #f5ecd4e9 !important;
}
.bg-beige{
  background-color: #f4ead2 !important;
}

.bg-red {
  background-color: #a3000195;
}

.bg-wine{
  background-color: #bb443c !important;
}

.blur-beige {
  box-shadow: 0 0 5px 10px #f5ecd4e9;
}
.blur-red {
  box-shadow: 0 0 5px 10px #a3000195;
}

/* style texte */
.text-light-beige {
  color: #f5ecd4 !important;
}

.text-red {
  color: #a30001 !important;
}

.text-blue {
  color: #0010a3;
}

/* section about */
.border-nav{
  border-bottom-left-radius: 30px; /* arrondi le coin inférieur gauche */
  border-bottom-right-radius: 30px; /* arrondi le coin inférieur droit */
  justify-content: center !important;
  width: 100vh;
  border: 2px solid  #f5ecd4 !important; 
  position: fixed;
}
.radius {
  background-color: rgb(163,0,1,0.50);
  width: 95vw;
  height: 100vh;
  border-radius: 50% 50% 0 0;
}
#inputChoice option {
  color: black !important;
}
.raradius {
  background-color: rgb(245,236,212,0.50);
  width: 60vw;
  height: 100vh;
  border-radius: 180% 180% 0 0;
}
a{
  color: #f5ecd4 !important;
}
a:hover {
  color: #0010a3;
}
/* Ajoutez ce CSS pour centrer les éléments */
.navbar-nav {
  justify-content: center !important;
}

/* .background-image {
  background-image: url("assets/pictures/grenade.png");
  background-size: cover;
  background-repeat: no-repeat;
} */


.bg-color-red {
    background-color: rgb(163,	0, 0, 0.70);
    width: 95%;
    border-radius: 10px 100px 10px 100px ;
}
.bg-color-orange {
  background-color: rgb(255,255,255, 0.20);
  border-radius: 30px 100px  140px;
}

.front {
  z-index: 2 !important;
  position: relative !important;
}

/* styles section juridique */

/* section compétences */
.rotate {
  width: 160%;
  height: fit-content;
  transform: rotate(10deg);
  margin-left: -30%;
  margin-top: 8%;
  box-sizing: border-box;
  z-index: -1;
}

.rotate-minus20 {
  transform: rotate(-10deg);
  height: fit-content;
  font-size: 1.1em !important;
  padding-right: 35vw !important;
  padding-left: 55vw !important;
  padding-bottom: 5% !important;
  padding-top: 10vw !important;
}


.rotate-minus-20 p
 {
  padding-right: 30vw !important;
  padding-left: 10vw !important;
}

.rotate-minus-20 p
 {
  color: #f5ecd4 !important;
  font-size: 1.1em !important;
}
.logo {
  transform: rotate(30deg);
}

/* bulles section compétences juridiques*/
.section_juridique, .section_formation {
  position: relative; /* Permet de positionner les images de bulles par rapport à ce conteneur */
}

.bubble {
  position: absolute; /* Position absolue pour placer les bulles */
  height: 60vh;
  z-index: 2 !important;
}

.left {
  left: 0; /* Pour placer la bulle à gauche */
  top: 15%;
  transform: translateY(-175%) rotate(-70deg) translateX(-190%);
}

.right:not(.formation)  {
  right: 0; /* Pour placer la bulle à droite */
  top: 40%;
  transform: translateY(90%) rotate(-50deg) translateX(135%);
}


/* section honoraires */

.rotate-20 p
 {
  color: #f5ecd4 !important;
  font-size: 1em !important;
}
/* section contact */


/* section formation */
.formation.fa-solid{
  font-size: 4em !important;
}

.bubble.formation {
  position: absolute; /* Position absolue pour placer les bulles */
  height: 60vh;
  z-index: 2 !important;
}
.right.formation{
  right: 0; /* Pour placer la bulle à droite */
  transform: rotate(-85deg) translateY(50%) translateX(150%);
}

.cardsRight {
  right: 5; /* Pour placer la bulle à droite */
  top: 20%;
  transform: translateY(90%) rotate(-50deg) translateX(135%);

}

/* responsive */

/* Media queries pour les écrans  */
@media screen and (min-width: 500px){
  .bubble {
    height: 60vw;
  }
  .left {
    top: 15%;
    transform: translateY(-175%) rotate(-70deg) translateX(-180%);
  }
  .right:not(.formation) {
    top: 35%;
  }

  .rotate-minus20 p {
    font-size: 1.3em !important;
    padding-right: 10vw !important;
    padding-left: 15vw !important;
  }
  .rotate-minus20 {
    padding-right: 0% !important;
    padding-left: 0% !important;
    padding-top: 5% !important;
  }

  
.rotate-10 {
  width: 105%;
  height: fit-content;
  transform: rotate(-10deg);
  box-sizing: border-box;
  z-index: -1;
}

.rotate-20 {
  transform: rotate(10deg);
}
  /* .container, .container-lg, .container-md, .container-sm {
    max-width: 1100px !important;
} */
.rotate-20 p
 {
  font-size: 1.3em !important;
}
}

/* pour ecrans extra larges */
@media screen and (min-width: 1441px) {
  .rotate-minus20 p
   {
    font-size: 1.3em !important;
    width: 80vw !important;
    padding-right: 10vw !important;
    padding-left: 5vw !important;
  }
  .rotate-minus20
 {
    padding-bottom: 5% !important;
    padding-top: 5% !important;
    margin: unset !important;
    margin-left: 37vw !important;
  }
}



/* section formation */
.formation.fa-solid{
  font-size: 4em !important;
}

.bubble.formation {
  position: absolute; /* Position absolue pour placer les bulles */
  height: 60vh;
  z-index: 2 !important;
}
.right.formation{
  right: 0; /* Pour placer la bulle à droite */
  transform: rotate(-85deg) translateY(50%) translateX(150%);
}

.profil {
  transform: translateY(30%) translateX(-40%);
  
}

.custom-card {
  box-shadow: 10px 10px #a30000!important;
}