*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
      background: url('./assets/bg_error.svg');
      background-size: cover;
}
.background-image {
  background-image: url("../assets/pictures/grenade.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-rouille{
    
    background-color:rgba(193, 68, 37, 0.443) !important;
   }

 .card-header{
    background-color: #bb443c !important;
   }


.nav-link.active{
background-color: antiquewhite !important;
color:black !important;
}

.link-beige{
    color: #f5ecd4 !important;
}
 .link-beige:hover{
  color: #000000 !important;
}


.btn:hover {
  color: black !important;
  background-color: beige !important;
  border-color: var(--bs-btn-hover-border-color);
}

.btn-light:hover {
  color: #f5ecd4  !important;
  background-color: #bb443c !important;

}

.bg-duck{
    background-color: #f5ecd4 !important;
   }
.bg-wine{
    background-color: #bb443c !important;
  }

.bg-light-50-beige {
    background-color: #f4ead281 !important;
  }
  .bg-beige{
    background-color: #f4ead2 !important;
  }
   .display-1{
    font-size: 10em !important;
    text-shadow: 1px 1px 13px #f5ecd4 ;
   }
 
   .table   :not(caption) > * > * , .card
 {

        background-color:rgba(235, 206, 165, 0.443) !important;
    }


   /* style modale*/
   
.modal-confirm {
    color: #636363;
    width: 400px;
}

.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
}

.add-form-content{
    width: 300px !important;
}


.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}
   /* fin style modale */

   @media (min-width: 992px) {
    .dashcard {
        height: calc(100vh - 130px);
    }
}